name: CI CD - Staging Server

on:
  workflow_dispatch:
  push:
    branches: [ 'main' ]

jobs:
  test:
    uses: ./.github/workflows/run-unit-tests.yml

  deploy-to-heroku:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh
      - uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ vars.HEROKU_APP_NAME }}
          heroku_email: ${{ vars.HEROKU_EMAIL }}
