name: Run Unit Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract statements file
        run: |
          unzip ./test/graph-db/data/test-data-set.nq.zip -d ./test/

      - name: Run GraphDB
        run: docker compose -f "test/graph-db/docker-compose.yml" up -d --build

      - name: Wait for GraphDB to be ready
        run: |
          until curl -s http://127.0.0.1:7200/rest/repositories > /dev/null; do
            echo "Waiting for GraphDB to start..."
            sleep 5
          done

      - name: Import repository configuration
        run: |
          curl 'http://127.0.0.1:7200/rest/repositories' \
          --header 'Content-Type: multipart/form-data' \
          --form 'config=@"./test/graph-db/data/config.ttl"'

      - name: Import repository data
        run: |
          curl 'http://127.0.0.1:7200/repositories/artsdata/statements' \
          --header 'Content-Type: application/n-quads' \
          --data-binary '@./test/graph-db/data/test-data-set.nq'

      - name: Create index
        run: |
          for file in ./seed/sparql/index/*.sparql; do
            curl -X POST -H "Content-Type: application/sparql-update" \
              --data-binary @"$file" \
              "http://localhost:7200/repositories/artsdata/statements"
          done

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Display indexes
        run: |
          echo "Displaying repository indexes..."
          curl -s -X GET "http://localhost:7200/repositories/artsdata/indexes" \
            -H "Accept: application/json" | jq .

      - name: Display import status
        run: |
          echo "Displaying import status..."
          curl -s -X GET "http://localhost:7200/rest/repositories/artsdata/import/server" \
            -H "Accept: application/json" | jq .

      - name: Ensure .env exists
        run: |
          touch .env
          echo 'ARTSDATA_ENDPOINT="http://127.0.0.1:7200/"' >> .env
          echo 'REPOSITORY="artsdata"' >> .env

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run unit tests
        run: npm test
